# Configuration Traefik pour Hall
api:
  dashboard: true
  insecure: true
  debug: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: rverschuur@audit-io.fr
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: ovh
        delayBeforeCheck: 10

accessLog: {}
